@model Social_solution_teste.Models.Imovel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cliente_id" class="control-label">Cliente</label>
                <select asp-for="Cliente_id" class ="form-control" asp-items="ViewBag.ClienteId">
                    <option value="Nenhum">Nenhum</option>
                </select>
                <span asp-validation-for="Cliente_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_de_negocio" class="control-label"></label>
                <select asp-for="Tipo_de_negocio" class="form-control" >
                    <option value="Venda">Venda</option>
                    <option value="Aluguel">Aluguel</option>
                </select>
                <span asp-validation-for="Tipo_de_negocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor_imovel" class="control-label"></label>
                <input asp-for="Valor_imovel" class="form-control" />
                <span asp-validation-for="Valor_imovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-warning" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-primary">Voltar a lista</a>    
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
