@{
    ViewData["Title"] = "Contatos do desenvolvedor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <abbr title="Phone">Número de contato:</abbr>
    (79)99108-8459
</address>

<address>
    <strong>Email:</strong> <a href="victor.farias.profile@gmail.com">victor.farias.profile@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/victorjosecostafarias/">Victor José Costa Farias</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/Petrucchio"> Git.Victor</a>
</address>